@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Cedarville Cursive;
}

.caption {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: Cedarville Cursive;
}

.caption {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img1 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("image/image-1.jpg");
    min-height: 600px;
    background-position: center 80%;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    /* opacity: 0.5; */
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    background-color: #b392ac;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    padding: 20px 40px;
}

.content {
    display: flex;
    background-color: #edd3aa53;


    margin: 0;
    height: 500px;
    height: 500px;
}

.content img {
    height: 500px;
    height: 500px;
    object-fit: contain;
}

.details .details-heading {
    font-size: 30px;
    margin: 2px;
    text-align: center;
    position: relative;

}

.details .details-heading::after,
.details .details-heading::before {
    content: "";
    background-image: url("image/scroll/1.webp");
    width: 40px;
    height: 40px;
    background-size: cover;
    display: inline-flex;
    position: absolute;
}

.details .details-heading::before {
    left: 100px;
}

.details .details-heading::after {
    right: 100px;
}

.details {
    padding: 5px;
    margin: 0 5px;
    line-height: 35px;
    font-size: 20px;
    text-align: center;
    width: fit-content;
    height: 500px;
    overflow-y: auto;
}

.details::-webkit-scrollbar {
    display: none;
}

.lore {
    font-size: 21px;
}

.img2 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("image/image-2.jpg");
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    /* opacity: 0.5; */
}

.img3 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("image/image-3.jpg");
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    /* opacity: 0.5; */
}

.img1 .caption {
    background-color: #b784b791;
}


.img2 .caption {
    background-color: #535c917a;
}


.img3 .caption {
    background-color: #393e4687;
}